
@import './components/FilesPage/Files.scss';
@import './components/authorization/authorization.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.btn {
  display: flex;
  align-self: center;
  font-size: 16px;
  color: #fff;
  border: none;
  background: #007bff;
  border-bottom: 2px solid #025fc4;
  border-radius: 5px;
  padding: 8px 25px;
  cursor: pointer;
  outline: none;
  transition: .3s;

  &:hover {
    background: #025fc4;
  }
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    margin: 50px auto;
    padding: 0 15px;
}

.title {
  font-size: 24px;
  font-weight: 500;
  color: #6c757d;
  text-align: center;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

textarea, input {
      font-family: 'Roboto',
      sans-serif;
      font-size: 16px;
      color: #000;
      border: 2px solid #ccc;
      border-radius: 5px;
      width: 100%;
      padding: 5px;
      transition: 0.3;
      outline: none;

      &:focus {
        border-color: #007bff;
      }
}

input {
  height: 40px;
}

textarea {
  height: 150px;
}