@import './components/authorization/authorization.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.btn {
  display: flex;
  align-self: center;
  font-size: 16px;
  color: #fff;
  border: none;
  background: #007bff;
  border-bottom: 2px solid #025fc4;
  border-radius: 5px;
  padding: 8px 25px;
  cursor: pointer;
  outline: none;
  transition: 0.3s;

  &--animate {
    color: #fff;
    background-position: 100%;
    background-size: 400%;
    background-image: -webkit-linear-gradient(45deg,
        #025fc4 50%,
        transparent 50%);
    background-image: linear-gradient(45deg, #025fc4 50%, transparent 50%);
    transition: background 500ms ease-in-out;

    &:hover {
      background-position: 0;
    }
  }

  &--mr {
    margin-right: 20px;
  }

  &:disabled {
    background: #6c757d;
    border-color: #6c757d;
    cursor: not-allowed;
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin: 50px auto;
  padding: 0 15px;
}

.title {
  font-size: 24px;
  font-weight: 500;
  color: #6c757d;
  text-align: center;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

textarea,
input {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  transition: all 0.3s;
  outline: none;
}

input {
  height: 45px;
  padding: 0 30px 0 50px;
}

textarea {
  height: 150px;
  padding: 5px;

  &:focus {
    border-color: #007bff;
  }
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
}