.auth-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e9faff;
  width: 100%;
  min-height: 100vh;
  padding: 15px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 450px;
  padding: 80px 25px;

  &__title {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px;
  }

  &__field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    z-index: 1;
  }

  &__btn {
    margin: 20px 0 0;
  }

  &__input {
    &:focus + &-focus {
      animation: anim-shadow 0.5s ease-in-out forwards;
    }

    &:focus + &-focus + &-icon {
      color: #007bff;
      padding-left: 15px;
    }

    &-icon {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 15px;
      color: #666;
      border-radius: 5px;
      width: 100%;
      height: 100%;
      padding-left: 20px;
      pointer-events: none;
      transition: all 0.4s;
    }

    &-focus {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      box-shadow: 0 0;
      color: rgba(0, 123, 255, 0.5);
      border-radius: 5px;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0 0 70px 25px;
    opacity: 0;
  }
}
