.file {
  border-bottom: 1px solid #cccccc;
  padding: 10px 20px;
  transition: 0.3s;

  @media (max-width: 560px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    background: #ccccccb2;
  }

  &__td {
    padding: 10px 20px;
  }

  &__edit,
  &__download {
    transition: 0.3s;
  }

  &__edit {
    background-color: #ffebb2;
    border-radius: 3px;
    border: 1px solid #d6b656;
    margin-right: 10px;

    &:hover {
      background-color: #e9c975;
    }
  }

  &__download {
    background-color: #f58383;
    border-radius: 3px;
    border: 1px solid #cc5b5b;

    &:hover {
      background-color: #dd6c6c;
    }
  }

  &__options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }

  &__optionsIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    outline: none;
    
    @media (max-width: 768px) {
    width: 30px;
    height: 30px;
    }
  }

  & .editIco,
  & .downloadIco {
    font-size: 20px;
    color: #6a6666;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}